.header-sect {
    @extend %bg-reset;
    padding-top: 105px;
    height: 100vh;
    background-image: url($img_path + 'header-bg.jpg');
}

.header {
    @extend %df;
    @extend %jcsb;
    // .header__wrap

    &__wrap {
        // .header__wrap_right

        &_right {
            padding-top: 192px;
        }

        // .header__wrap_left

        &_left {}
    }

    // .header__title

    &__title {
        @extend %h1-title;
        color: $black;
        margin-bottom: 20px;
    }

    // .header__text

    &__text {
        @extend %h2-title;
        color: $black;
        max-width: 490px;
    }

    // .header__form

    &__form {
        width: 540px;
        height: 589px;
        padding: 50px;
    }
}

.form {
    border-radius: 10px;
    background-color: $primary;
    // .form__wrap

    &__wrap {

        // .form__wrap_top

        &_top {
            margin-bottom: 21px;
        }

        // .form__wrap_middle

        &_middle {}

        // .form__wrap_bot

        &_bot {}
    }

    // .form__title

    &__title {
        @extend %h2-h1-mob;
        color: $white;
        margin-bottom: 17px;
    }

    // .form__text

    &__text {
        @extend %simple-text;
        color: $white;
    }

    // .form__wrap-input

    &__wrap-input {

        // .form__wrap-input_top

        &_top {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
        }

        // .form__wrap-input_middle

        &_middle {
            margin-top: 16px;
            margin-bottom: 11px;
        }
    }

    // .form__inp-wrapper

    &__inp-wrapper {
       position: relative;
       &.error {
           span, .error-text {
               opacity: 1;
           }
       }
       span {
           position: absolute;
            top: 39px;
            right: 15px;
            @extend  %df;
            @extend  %aic;
            @extend  %jcc;
           width: 14px;
           height: 14px;
           background-color: $red;
           border-radius: 50%;
           pointer-events: none;
           opacity: 0;
           transition: all .5s ease;
       }
       .error-text {
           position: absolute;
           bottom: -20px;
           right: 0;
           @extend %Trebuchet-MS;
           font-size: rem(11);
           line-height: rem(19);
           color: $soft_white;
           pointer-events: none;
           opacity: 0;
           transition: all .5s ease;
       }
    }

    // .form__label

    &__label {
        display: block;
        @extend %input-title;
        color: $white;
        margin-bottom: 5px;
    }

    // .form__input-wrap

    &__input-wrap {
        @extend %df;
        @extend %aic;
        background-color: $white;
        border-radius: 4px;
        height: 40px;
        padding-left: 15px;
        &_user, &_phone {
            width: 205px;
        }
        .icon {
            transition: all .3s ease;
            order: -1;
        }
    }

    // .form__input

    &__input {
        @extend %input-text;
        @extend %input-reset;
        padding-left: 10px;
        width: 100%;
        color: $black;
        &:focus {
            & + .icon {
                color: $primary;
            }
        }
    }

    // .form__textarea-wrap

    &__textarea-wrap {
        @extend %df;
        @extend %fdc;
        margin-top: 16px;
    }

    // .form__textarea

    &__textarea {
        @extend %input-text;
        @extend %input-reset;
        background-color: $white;
        padding: 13px 0 0 15px;
        border-radius: 4px;
        width: 100%;
        height: 80px;
    }

    // .form__check

    &__check {
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 10px 0 0 20px;
            &:checked {
                & + .form__check-text {
                    &:before {
                        background-color: $white;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    // .form__check-text

    &__check-text {
        @extend %small-text;
        color: $white;
        position: relative;
        padding-left: 23px;
        cursor: pointer;
        &:before,
        &:after {
            content: '';
            position: absolute;
            transition: all .5s ease;
        }
        &:before {
            top: 2px;
            left: 0;
            width: 11px;
            height: 11px;
            border-radius: 2px;
            border: 1px solid $white;
        }
        &:after {
            top: 5px;
            left: 2px;
            width: 7px;
            height: 5px;
            @extend %bg-reset;
            background-image: url($img_path + 'check-icon.svg');
            opacity: 0;
        }
    }

    // .form__btn

    &__btn {
        @extend %simple-btn;
        margin-top: 14px;
    }
}