.verdeling-sect {
    padding-top: 121px;
}

.container {}

.verdeling {
    @extend %df;
    @extend %jcsb;
    // .verdeling__wrap

    &__wrap {

        // .verdeling__wrap_left

        &_left {
            max-width: 730px;
        }

        // .verdeling__wrap_right

        &_right {
            position: relative;
            max-width: 350px;
        }
    }

    // .verdeling__title

    &__title {
        @extend %h2-h1-mob;
        color: $black;
    }

    // .verdeling__text

    &__text {
        @extend %simple-text;
        color: $black;
        margin: 20px 0 52px 0;
    }

    // .verdeling__items

    &__items {
        @extend %df;
        @extend %fw;
        @extend %jcsb;
    }

    // .verdeling__item

    &__item {
        @extend %df;
        max-width: 348px;
        margin-bottom: 42px;
        &:last-child {
            margin-bottom: 0;
        }
        // .verdeling__item_apparatuur

        &_apparatuur {
        }

        // .verdeling__item_werkplaats

        &_werkplaats {}

        // .verdeling__item_productiekosten

        &_productiekosten {}

        // .verdeling__item_overbrugging

        &_overbrugging {}

        // .verdeling__item_instrumenten

        &_instrumenten {
            .verdeling__itm-icon {
                .icon {
                    width: 68px;
                    height: 67px;
                }
            }
        }

        // .verdeling__item_marketing

        &_marketing {
            .verdeling__itm-icon {
                .icon {
                    width: 67px;
                    height: 56px;
                }
            }
        }

        // .verdeling__item_overig.png

        &_overig {}
    }

    // .verdeling__itm-icon

    &__itm-icon {
        .icon {
            width: 65px;
            height: 65px;
        }
    }

    // .verdeling__content

    &__content {
        margin-left: 30px;
    }

    // .verdeling__itm-title

    &__itm-title {
        @extend %h3-h2-mob;
        color: $black;
        margin-bottom: 11px;
    }

    // .verdeling__itm-text

    &__itm-text {
        @extend %simple-text;
        color: $black;
    }

    // .verdeling__form

    &__form {
        width: 350px;
        height: 499px;
        padding: 30px;
        transition: all .5s ease;
        &.sticky {
            position: fixed;
            top: 110px;
            right: 211px;
        }
        &.op {
            opacity: 0;
            pointer-events: none;
        }
        .form {
            // .form__wrap

            &__wrap {

                // .form__wrap_top

                &_top {
                    margin-bottom: 16px;
                }

                // .form__wrap_middle

                &_middle {}

                // .form__wrap_bot

                &_bot {}
            }

            // .form__title

            &__title {
                @extend %h3-h2-mob;
            }

            // .form__text

            &__text {
                display: none;
            }

            // .form__wrap-input

            &__wrap-input {

                // .form__wrap-input_top

                &_top {
                    @extend %fdc;
                    .form__inp-wrapper {
                        // background-color: red;
                        &:first-child {
                            .error-text {
                                bottom: -2px;
                            }
                        }

                        &:nth-child(2) {
                            .error-text {
                                bottom: -19px;
                            }
                        }
                    }
                }

                // .form__wrap-input_middle

                &_middle {}
            }

            // .form__inp-wrapper

            &__inp-wrapper {
                width: 100%;
                span {
                    top: 34px;
                }
            }

            // .form__label

            &__label {}

            // .form__input-wrap

            &__input-wrap {
                height: 30px;
                padding-left: 9px;
                // .form__input-wrap_user

                &_user {
                    margin-bottom: 16px;
                }
                &_user,
                &_phone {
                    width: 100%;
                }

                // .form__input-wrap_phone

                &_phone {}

                // .form__input-wrap_mail

                &_mail {}
            }

            // .form__input

            &__input {}

            // .form__textarea-wrap

            &__textarea-wrap {}

            // .form__textarea

            &__textarea {
                height: 60px;
                padding: 6px 0px 0px 10px;
            }

            // .form__check

            &__check {}

            // .form__check-text

            &__check-text {
                padding-left: 19px;
            }

            // .form__btn

            &__btn {
                margin-top: 9px;
                height: 35px;
            }
        }
    }
}



.scl-form {}

.icon-user {}

.gray {}

.icon-phone {}

.icon-mail {}
