.overview-sect {
    padding-top: 121px;
}

.overview {
    max-width: 730px;
    margin-bottom: 120px;
    &:last-child {
        margin-bottom: 0;
    }
    // .overview__wrap

    &__wrap {

        // .overview__wrap_top

        &_top {}

        // .overview__wrap_middle

        &_middle {
            margin: 61px 0 63px 0;
        }

        // .overview__wrap_bot

        &_bot {}
    }

    // .overview__wrap-image

    &__wrap-image {
        width: 100%;
        overflow: hidden;
        box-shadow: 0px 4px 25px rgba(46, 118, 154, 0.05);
        border-radius: 10px;
    }

    // .overview__img

    &__img {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        width: 100%;
        height: 500px;
        overflow: hidden;
        border-radius: 10px 10px 0px 0px;
        img {
            height: auto;
        }
    }

    // .overview__about

    &__about {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
        width: 100%;
        padding: 24px 0 21px 34px;
    }

    // .overview__num

    &__num {
        @extend %h3-h2-mob;
        color: $primary;
    }

    // .overview__loans

    &__loans {
        @extend %df;
        @extend %aic;
    }

    // .overview__loan-itm

    &__loan-itm {
        @extend %df;
        @extend %aic;
        width: 160px;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }

    // .overview__loan-ico

    &__loan-ico {
        margin-right: 10px;
        margin-top: 2px;
    }

    // .overview__loan-title

    &__loan-title {
        @extend %input-text;
        color: $black;
    }

    // .overview__title

    &__title {
        @extend %h2-h1-mob;
        color: $black;
        margin-bottom: 21px;
    }

    // .overview__text

    &__text {
        @extend %simple-text;
        color: $black;
    }

    // .overview__feedback

    &__feedback {
        position: relative;
        @extend %df;
        justify-content: flex-start;
        width: 100%;
        border: 20px solid $primary_light;
        padding: 39px 40px 40px 40px;
        &:after {
            position: absolute;
            content: '';
            @extend %db;
            @extend %bg-reset;
            background-image: url($img_path + 'quote-icon.svg');
            width: 121px;
            height: 70px;
            top: -60px;
            right: 23px;
        }
    }

    // .overview__user-img

    &__user-img {
        margin-right: 30px;
    }

    // .overview__wrap-user-img

    &__wrap-user-img {
        width: 150px;
        height: 150px;
        border-radius: 6px;
        overflow: hidden;
    }

    // .overview__about-user

    &__about-user {}

    // .overview__user-name

    &__user-name {
        @extend %input-title;
        color: $black;
        margin-top: 17px;
        margin-bottom: 5px;
    }

    // .overview__user-ab

    &__user-ab {
        @extend %small-text;
        color: $gray;
    }

    // .overview__feedback-content

    &__feedback-content {}

    // .overview__fb-text

    &__fb-text {
        @extend %simple-text;
        color: $black;
    }
}
