.contact-sect {
    position: relative;
    z-index: 2;
    padding-top: 119px;
}

.contact {
    @extend %df;
    align-items: flex-start;
    @extend %jcsb;
    // .contact__wrap

    &__wrap {

        // .contact__wrap_left

        &_left {
            position: relative;
            max-width: 491px;
            padding-top: 51px;
        }

        // .contact__wrap_right

        &_right {}
    }

    // .contact__title

    &__title {
        @extend %h2-h1-mob;
        color: $black;
    }

    // .contact__text

    &__text {
        @extend %simple-text;
        color: $black;
        margin: 21px 0 25px 0;
    }

    // .contact__link

    &__link {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
        &:hover {
            color: $primary;
            .contact {
                &__link {
                    &-text {
                        color: $primary;
                    }     
                    &-icon {
                        .icon {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }

    // .contact__link-text

    &__link-text {
        @extend %btn-text;
        color: $black;
        transition: all .5s ease;
    }

    // .contact__link-icon

    &__link-icon {
        @extend %df;
        width: 17px;
        height: 13px;
        .icon {
            transition: all .5s ease;
            width: inherit;
            height: inherit;
            fill: transparent;
            stroke: currentColor;
            stroke-width: 1.5px;
            stroke-linecap: round;
        }
    }

    // .contact__form

    &__form {
        width: 540px;
        padding: 50px;
        margin-bottom: -183px;
        box-shadow: 0px 4px 40px rgba(46, 118, 154, 0.15);
    }

    // .contact__up
    
    &__up {
        position: absolute;
        right: 0;
        bottom: -247px;
        @extend %df;
        @extend %aic;
        @extend %jcc;
        width: 59px;
        height: 59px;
        color: $primary;
        background-color: $white;
        border-radius: 4px;
        .icon {
            pointer-events: none;
            width: 20px;
            height: 14px;
            fill: transparent;
            stroke: currentColor;
            stroke-width: 1.5px;
            stroke-linecap: round;
        }
    }
}
