// ================ FVAlmelo ================
@include font_face(FVAlmelo, FVAlmelo);

%FV-Almelo {
    font-family: 'FVAlmelo', sans-serif;
}
// ################ FVAlmelo ################

// ================ TrebuchetMS ==============
@include font_face(TrebuchetMS, TrebuchetMS);

%Trebuchet-MS {
    font-family: 'TrebuchetMS', sans-serif;
}
// ################### TrebuchetMS ###################

// ================ UniSans-Thin-Caps ==================
@include font_face(TrebuchetMS-Bold, TrebuchetMS-Bold);

%Trebuchet-MS-Bold {
    font-family: 'TrebuchetMS-Bold', sans-serif;
}
// ################### TrebuchetMS-Bold ################
%ttu {
    text-transform: uppercase;
}
// ====================== Font styles =======================
%h1-title {
    @extend %FV-Almelo;
    font-size: rem(60);
    line-height: rem(57);
}
%h2-h1-mob {
    @extend %FV-Almelo;
    font-size: rem(36);
    line-height: rem(35);
}
%h3-h2-mob {
    @extend %FV-Almelo;
    font-size: rem(24);
    line-height: rem(23);
}
%h2-title {
    @extend %Trebuchet-MS;
    font-size: rem(20);
    line-height: rem(24);
}
%btn-text {
    @extend %Trebuchet-MS-Bold;
    font-size: rem(20);
    line-height: rem(23);
}
%input-title {
    @extend %Trebuchet-MS-Bold;
    font-size: rem(18);
    line-height: rem(21);
}
%input-text {
    @extend %Trebuchet-MS;
    font-size: rem(15);
    line-height: rem(17);
}
%simple-text {
    @extend %Trebuchet-MS;
    font-size: rem(18);
    line-height: rem(22);
}
%small-text {
    @extend %Trebuchet-MS;
    font-size: rem(14);
    line-height: rem(16);
}