.container {
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }


@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 708px;
  }
}
@media (max-width: 766px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}