.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;

	&.icon-user,
	&.icon-phone,
	&.icon-mail {
		fill: transparent;
		stroke: currentColor;
		stroke-width: 1px;
	}

	&.icon-mail {
		width: 14px;
		height: 11px;
	}

	&.icon-phone {
		width: 14px;
		height: 14px;
	}

	&.icon-user {
		width: 13px;
		height: 14px;
	}

	&.gray {
		color: $gray;
	}

	&.primary {
		color: $primary;
	}

	&.black {
		color: $black;
	}
}


.icon-Apparatuur {
	font-size:(65/10)*1rem;
	width:(65/65)*1em;
}
.icon-Instrumenten_ {
	font-size:(67/10)*1rem;
	width:(68/67)*1em;
}
.icon-Marketing {
	font-size:(56/10)*1rem;
	width:(67/56)*1em;
}
.icon-Overbrugging_ {
	font-size:(65/10)*1rem;
	width:(65/65)*1em;
}
.icon-Productiekosten_ {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
.icon-Werkplaats_ {
	font-size:(65/10)*1rem;
	width:(65/65)*1em;
}
.icon-arrow-right {
	font-size:(9/10)*1rem;
	width:(13/9)*1em;
}
.icon-arrow-top {
	font-size:(15/10)*1rem;
	width:(13/15)*1em;
}
.icon-mail {
	font-size:(11/10)*1rem;
	width:(14/11)*1em;
}
.icon-phone {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-user {
	font-size:(15/10)*1rem;
	width:(14/15)*1em;
}
