.footer {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 282px;
    @extend %bg-reset;
    background-image: url($img_path + 'footer-bg.jpg');
    padding: 69px 0 16px 0;
    // .footer__contact
    .container {
        position: relative;
        height: 100%;
    }
    &__contact {}

    // .footer__title

    &__title {
        @extend %h2-h1-mob;
        color: $white;
        margin-bottom: 19px;
    }

    // .footer__items

    &__items {}

    // .footer__item

    &__item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            @extend %simple-text;
            color: $white;
        }
    }

    // .footer__itm-icon

    &__itm-icon {}

    // .footer__itm-text

    &__itm-text {
        margin-left: 19px;
    }

    // .footer__wrap

    &__wrap {

        // .footer__wrap_bot

        &_bot {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    // .footer__dev

    &__dev {
        @extend %small-text;
        color: $soft_white;
        a {
            color: $white;
        }
    }

    // .footer__copy

    &__copy {
        @extend %small-text;
        color: $soft_white;
    }
}