.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 39px;
} 
.logo {
    &-mob {
        display: none;
    }
}
.sticky-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    background-color: $primary;
    padding: 12px 30px;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
    &.visible {
        opacity: 1;
        pointer-events: all;
    }
    // .sticky-bar__wrap

    &__wrap {

        // .sticky-bar__wrap_left

        &_left {
            max-width: 430px;
        }

        // .sticky-bar__wrap_right

        &_right {}
    }

    // .sticky-bar__title

    &__title {
        @extend %h2-h1-mob;
        color: $white;
    }

    // .sticky-bar__link

    &__link {
        @extend %simple-btn;
        width: 216px;
        height: 47px;
        span {
            pointer-events: none;
        }
    }
}
