%simple-btn {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %btn-text;
    width: 100%;
    height: 45px;
    color: $white;
    border: 2px solid $white inset;
    border-radius: 4px;
    transition: all .5s ease;
    &:hover {
        background-color: $white;
        color: $primary;
    }
}