//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_path: '../img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$gray: #4B5256;
$primary: #0893D9;
$primary_light: #F1F9FC;
$soft_white: rgba($color: $white, $alpha: .6);
$logo_color: #009FE3;
$red: #EA5046;


$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###