include mainBlock/_doc
body
    // ==> Start Navigation
    nav.navigation
        .container
            .logo
                a(href="#").logo__link
                    img(src=`${imgPath}desc-logo.svg`, alt="Logotype")
            .logo-mob
                a(href="#").logo__link
                    img(src=`${imgPath}mobile-logo.svg`, alt="Mobile logotype")
    // ==> End Navigation
    // ==> Start Sticky Bar
    .sticky-bar
        .sticky-bar__wrap.sticky-bar__wrap_left
            h2.sticky-bar__title Meer weten over de cultuurlening?
        .sticky-bar__wrap.sticky-bar__wrap_right
            a(href="#contact").sticky-bar__link.bar-link
                span Neem contact op
    // ==> End Sticky Bar
    main.main-wrap
        // ==> Start Header
        header.header-sect(name="header")
            .container
                .header
                    .header__wrap.header__wrap_right
                        h1.header__title
                            = header.title.split('<br>')[0]
                            br
                            = header.title.split('<br>')[1]
                        p.header__text= header.text
                    .header__wrap.header__wrap_left
                        +contactForm('header__form')
        // ==> End Header
        // ==> Start Verdeling Section
        +section('verdeling-sect')
            .verdeling
                .verdeling__wrap.verdeling__wrap_left
                    h2.verdeling__title= verdeling.title
                    p.verdeling__text= verdeling.text
                    ul.verdeling__items
                        - const items = verdeling.items;
                        - for(let itm of items)
                            li(class=`verdeling__item verdeling__item_${itm.icon.toLowerCase().includes('.png') ? itm.icon.toLowerCase().split('.png')[0] : itm.icon.toLowerCase() }`)
                                figure.verdeling__itm-icon
                                    - if(itm.icon.includes('.png'))
                                        img(src=`${imgPath}${itm.icon}` class="icon" alt=`${itm.title}`)
                                    - else 
                                        +icon(itm.icon, 'primary')
                                .verdeling__content
                                    h3.verdeling__itm-title= itm.title
                                    p.verdeling__itm-text= itm.text
                .verdeling__wrap.verdeling__wrap_right.scl-form-wrap
                    +contactForm('verdeling__form scl-form')
        // ==> End Verdeling Section
        // ==> Start Overview Section
        +section('overview-sect')
            - for(let itm of overview)
                .overview
                    .overview__wrap.overview__wrap_top
                        figure.overview__wrap-image
                            .overview__img
                                img(src=`${itm.img}`, alt=`${itm.title}`)
                            figcaption.overview__about
                                .overview__num= itm.number
                                ul.overview__loans
                                    - const loans = itm.loans;
                                    - for(let loan of loans)
                                        li.overview__loan-itm
                                            figure.overview__loan-ico
                                                img(src=`${loan.icon}`, alt=`${loan.title}`)
                                            p.overview__loan-title= loan.title
                    .overview__wrap.overview__wrap_middle
                        h2.overview__title= itm.title
                        p.overview__text= itm.text
                    .overview__wrap.overview__wrap_bot
                        - const feedback = itm.feedback;
                        .overview__feedback
                            figure.overview__user-img
                                .overview__wrap-user-img
                                    img(src=`${feedback.user.img}`, alt=`${feedback.user.name}`)
                                figcaption.overview__about-user
                                    h3.overview__user-name= feedback.user.name
                                    p.overview__user-ab= feedback.user.position
                            .overview__feedback-content
                                p.overview__fb-text= feedback.text
        // ==> End Overview Section
        // ==> Start Contact Section
        +section('contact-sect')
            .contact
                .contact__wrap.contact__wrap_left
                    h2.contact__title
                        = contact.title.split('<br>')[0]
                        br
                        = contact.title.split('<br>')[1]
                    p.contact__text= contact.text
                    // For anchor link in tablet and mobile version
                    div(name="contact")
                    a(href="#").contact__link
                        span.contact__link-text
                            = contact.link
                        i.contact__link-icon
                            +icon('arrow-right', 'black')
                    a(href="#header").contact__up.up-btn
                        +icon('arrow-top', 'primary')
                .contact__wrap.contact__wrap_right
                    +contactForm('contact__form')
        // ==> End Contact Section
    // ==> Start Footer
    footer.footer
        .container
            .footer__contact
                h3.footer__title= footer.title
                addres
                    ul.footer__items
                        - for(let itm of footer.contacts)
                            li.footer__item
                                a(href=`${(itm.value.includes('@')) ? `mailto:${itm.value}` : `tel:${itm.value}`}`)
                                    i.footer__itm-icon
                                        +icon(itm.icon, 'white')
                                    span.footer__itm-text= itm.value
            .footer__wrap.footer__wrap_bot
                .footer__dev
                    = 'Deze website is gemaakt door '
                    a(href="#") Opklopper
                - const date = new Date().getFullYear();
                .footer__copy= `Copyright © ${date} Cultuur+Ondernemen`
    // ==> End Footer


                 


include mainBlock/_scripts