mixin section($class, $name)
    - name = $name || ''
    section(class=`${$class}` name=`${name}`)
        .container
            if block
                block
            else
                p No content providet

mixin contactForm($class)
    form(class=`form ${$class}`)
        .form__wrap.form__wrap_top
            h2.form__title= form.title
            p.form__text= form.subtitle
        .form__wrap.form__wrap_middle
            - const inp = form.inputs;
            .form__wrap-input.form__wrap-input_top
                - for(let i = 0; i < 2; i++)
                    .form__inp-wrapper.inp-wrap.error
                        span
                            <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        label.form__label= inp[i].name
                        div(class=`form__input-wrap form__input-wrap_${inp[i].icon}`)
                            input(type=`${(inp[i].icon == 'phone') ? 'tel' : 'text'}` name=`${inp[i].icon}` class="form__input" placeholder=`${inp[i].placeholder}`)
                            +icon(inp[i].icon, 'gray')
                        .error-text
                            - const field_name = (inp[i].icon == 'user') ? 'Achternaam' : 'Telefoonnummer';
                            = `${field_name} is not valid.`
            .form__wrap-input.form__wrap-input_middle
                // Error Class for validation
                div.form__inp-wrapper.inp-wrap.error
                    span
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    label.form__label= inp[2].name
                    div(class=`form__input-wrap form__input-wrap_${inp[2].icon}`)
                        input(type=`email` name=`${inp[2].icon}` class="form__input" placeholder=`${inp[2].placeholder}`)
                        +icon(inp[2].icon, 'gray')
                    .error-text
                        = `Email is not valid.`
                .form__textarea-wrap
                    label.form__label= form.text.name
                    textarea.form__textarea(placeholder=`${form.text.placeholder}`)
        .form__wrap.form__wrap_bot
            label.form__check
                input(type="checkbox")
                span.form__check-text= form.check
        button.form__btn
            span= form.btn

mixin icon(name,mod)
    - mod = mod || '';
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="img/sprinte/sprite.svg#" + name)