-
    const mainVar = {
        path: {
            css: 'css/',
            js: 'js/',
            img: 'img/'
        }
    };

//- Img Path
- const imgPath =  `${mainVar.path.img}`;

-
    const mainText = {
        title: 'Cultuur + Ondernemen',
        homePage: {
            header: {
                title: 'De keramiekstudio<br>van Lennard Houkes',
                text: 'Sagittis mauris et ornare viverra. Neque dictumst duis vitae congue. Amet elementum aliquam aliquet et nec leo quam.',
            },
            verdeling: {
                title: 'Verdeling bestedingsdoelen in 2018',
                text: 'Elit blandit libero pharetra nulla bibendum eget amet. Auctor cras nullam enim cursus. Pharetra mauris hac vitae, in gravida donec id orci. Varius nibh tristique dolor tristique. Auctor vel at nibh cras.',
                items: [
                    {
                        icon: 'Apparatuur',
                        title: 'Apparatuur',
                        text: 'Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin',
                    },
                    {
                        icon: 'Werkplaats_',
                        title: 'Werkplaats',
                        text: 'Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin',
                    },
                    {
                        icon: 'Productiekosten_',
                        title: 'Productiekosten',
                        text: 'Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin',
                    },
                    {
                        icon: 'Overbrugging_',
                        title: 'Overbrugging ',
                        text: 'Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin',
                    },
                    {
                        icon: 'Instrumenten_',
                        title: 'Instrumenten',
                        text: 'Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin',
                    },
                    {
                        icon: 'Marketing',
                        title: 'Marketing & Communicatie',
                        text: 'Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin',
                    },
                    {
                        icon: 'Overig.png',
                        title: 'Overig',
                        text: 'Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin',
                    },
                ],
            },
            overview: [
                {
                    img: `https://jaaroverzicht.fondscultuurfinanciering.nl/storage/app/media/Foto%20Case%201.jpg`,
                    number: '01',
                    loans: [
                        {
                            icon: `${imgPath}Talentlening.png`,
                            title: 'Talentlening'
                        },
                        {
                            icon: `${imgPath}Werkruimte.png`,
                            title: 'Werkruimte'
                        }
                    ],
                    title: 'Orci sit volutpat a eros risus, cras sit gravida. Sed sed sit dis odio quis.',
                    text: 'Elit blandit libero pharetra nulla bibendum eget amet. Auctor cras nullam enim cursus. Pharetra mauris hac vitae, in gravida donec id orci. Varius nibh tristique dolor tristique. Auctor vel at nibh cras. Et neque eget mauris diam eget placerat est. Euismod amet ultricies tellus neque, arcu a in nisl. Et imperdiet senectus tempus dictumst nisi, purus. Tristique accumsan accumsan dui egestas ut. Turpis sed viverra viverra consequat auctor nec diam, consectetur posuere. Consectetur dis cursus auctor ac vitae. Massa enim egestas pellentesque commodo. Suspendisse aliquam purus id diam adipiscing. Tortor, quisque nunc arcu integer magna ante elit elementum. Eu quis posuere dolor sit.',
                    feedback: {
                        user: {
                            img: `${imgPath}feedback/feedback-user-0.jpg`,
                            name: 'Lennard Houkes',
                            position: 'Purus suspendisse semper'
                        },
                        text: 'Etiam semper massa id id etiam porttitor. Ut mauris lectus facilisis diam facilisis fermentum diam. Sed vel justo libero, massa, eget scelerisque. Nisl donec sed neque velit fermentum, mauris tellus tristique. Ultricies in ipsum phasellus consectetur at tempus. Mauris sed egestas cras a diam. Pellentesque lacinia amet vitae mattis in pretium. Auctor quam suscipit dolor leo enim. Ullamcorper arcu purus, orci eu suspendisse viverra nascetur ultrices. Nibh tellus tincidunt nulla sed pellentesque. Tortor et.'
                    } 
                },
                {
                    img: `${imgPath}sect-4-img.jpg`,
                    number: '02',
                    loans: [
                        {
                            icon: `${imgPath}Talentlening.png`,
                            title: 'Utrechtse Cultuurlening'
                        },
                        {
                            icon: `${imgPath}Werkruimte.png`,
                            title: 'Inrichting werkruimte'
                        }
                    ],
                    title: 'Orci sit volutpat a eros risus, cras sit gravida. Sed sed sit dis odio quis.',
                    text: 'Elit blandit libero pharetra nulla bibendum eget amet. Auctor cras nullam enim cursus. Pharetra mauris hac vitae, in gravida donec id orci. Varius nibh tristique dolor tristique. Auctor vel at nibh cras. Et neque eget mauris diam eget placerat est. Euismod amet ultricies tellus neque, arcu a in nisl. Et imperdiet senectus tempus dictumst nisi, purus. Tristique accumsan accumsan dui egestas ut. Turpis sed viverra viverra consequat auctor nec diam, consectetur posuere. Consectetur dis cursus auctor ac vitae. Massa enim egestas pellentesque commodo. Suspendisse aliquam purus id diam adipiscing. Tortor, quisque nunc arcu integer magna ante elit elementum. Eu quis posuere dolor sit.',
                    feedback: {
                        user: {
                            img: `${imgPath}feedback/feedback-user-1.jpg`,
                            name: 'Lennard Houkes',
                            position: 'Purus suspendisse semper'
                        },
                        text: 'Etiam semper massa id id etiam porttitor. Ut mauris lectus facilisis diam facilisis fermentum diam. Sed vel justo libero, massa, eget scelerisque. Nisl donec sed neque velit fermentum, mauris tellus tristique. Ultricies in ipsum phasellus consectetur at tempus. Mauris sed egestas cras a diam. Pellentesque lacinia amet vitae mattis in pretium. Auctor quam suscipit dolor leo enim. Ullamcorper arcu purus, orci eu suspendisse viverra nascetur ultrices. Nibh tellus tincidunt nulla sed pellentesque. Tortor et.'
                    } 
                }
            ],
            contact: {
                title: 'Jaaroverzicht<br>cultuurleningen 2018',
                text: 'Kunst en cultuur bloeit elk jaar weer! Maar… hoe kom je aan geld om te laten zien wat je kan? Misschien met een Cultuurlening. Dan kun je investeren in jouw creatieve idee. Acht goede voorbeelden tonen wat dat kan opleveren. Wel terugbetalen natuurlijk! Dan lenen wij het weer uit voor een ander creatief idee. Want zo werkt het Fonds Cultuur+Financiering.',
                link: 'Uitchecken Best Practices in Cultuurfinanciering',
            },
        },
        form: {
            title: 'Meer weten over de cultuurlening?',
            subtitle: 'Volutpat, tellus id et a. Nunc urna massa nibh.',
            inputs: [
                {
                    name: 'Achternaam*',
                    icon: 'user',
                    placeholder: 'Jouw achternaam',
                },
                {
                    name: 'Telefoonnummer*',
                    icon: 'phone',
                    placeholder: '+31-XXX-XXXX-XX',
                },
                {
                    name: 'E-mailadres*',
                    icon: 'mail',
                    placeholder: 'Je e-mailadres',
                },
            ],
            text: {
                name: 'Opmerking',
                placeholder: 'Beschrijf uw vraag'
            },
            check: 'Ik accepteer de algemene voorwaarden',
            btn: 'Voorleggen',
        },
        footer: {
            title: 'Contact',
            contacts: [
                {
                    icon: 'mail',
                    value: 'info@cultuur-ondernemen.nl',
                },
                {
                    icon: 'phone',
                    value: '+31 20 535 25 00'
                }
            ]
        }
    }


//- Header
- const header = mainText.homePage.header;
//- From fields
- const form = mainText.form;
//- Verdeling section
- const verdeling = mainText.homePage.verdeling;
//- Overview section
- const overview = mainText.homePage.overview;
//- Contact section
- const contact = mainText.homePage.contact;
//- Footer
- const footer = mainText.footer;
-
    const links =  {
        menuLink: [
            'expertise.html',
            'people.html',
            'insights.html',
            'contacts.html'
        ]
    }