@include bp(766px) {
    // Base font style
    %h1-mobile-title {
        font-family: 'FVAlmelo',
        sans-serif;
        font-size: rem(36);
        line-height: rem(35)
    }
    %h2-mobile-title {
        font-family: 'FVAlmelo',
        sans-serif;
        font-size: rem(24);
        line-height: rem(23);
    }
    %h3-mobile-title {
        font-family: 'FVAlmelo',
        sans-serif;
        font-size: rem(22);
    }
    %btn-mobile {
        font-family: 'TrebuchetMS-Bold',
        sans-serif;
        font-size: rem(18);
    }
    // Base font style
    .logo {
        display: none;
    }
    .logo-mob {
        display: block;
    }

    .sticky-bar {
        padding: 20px 30px;
        flex-direction: column;
        &__title {
            @extend %h2-mobile-title;
            text-align: center;
            margin-bottom: 15px;
        }
        &__link {
            @extend %btn-mobile;
            width: 260px;
        }
    }

    .header {
        max-width: 100%;
        &-sect {
            height: 592px;
            .container {
                max-width: 100%;
                padding: 0;
            }
        }
        &__title {
            @extend %h1-mobile-title;
            br {
                display: none;
            }
        }
        &__wrap {
            &_right {
                max-width: 320px;
                margin: 0 auto;
                margin-bottom: 133px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &__form {
            padding: 60px 30px;
            height: 577px;
        }
    }

    .form {
        border-radius: 0px;
        &__title {
            @extend %h2-mobile-title;
            margin-bottom: 0;
        }
        &__text {
            display: none;
        }
        &__wrap {
            &_top {
                margin-bottom: 17px;
            }
        }
        &__wrap-input {
            &_top {
                flex-direction: column;
                .form__inp-wrapper {
                    &:first-child {
                        margin-bottom: 16px;
                    }
                }
            }
            &_middle {
                margin-bottom: 13px;
            }
        }
        &__inp-wrapper {
            width: 100%;
            span {
                top: 34px;
                right: 8px;
            }
        }
        &__label {
            margin-bottom: 5px;
        }
        &__input-wrap {
            height: 30px;
            padding-left: 8px;
            &_phone,
            &_user {
                width: 100%;
            }
        }
        &__textarea {
            padding: 6px 0 0 9px;
            height: 61px;
        }
        &__check {
            display: flex;
        }
        &__check-text {
            padding-left: 19px;
            &:before {
                width: 9px;
                height: 9px;
            }
            &:after {
                width: 5px;
                height: 4px;
                left: 2px;
            }
        }
        &__btn {
            @extend %btn-mobile;
            margin-top: 11px;
            height: 36px;
        }
    }

    .verdeling {
        &-sect {
            padding-top: 698px;
        }
        &__title {
            @extend %h2-mobile-title;
        }
        &__text {
            margin-bottom: 43px;
        }
        &__item {
            flex-direction: column;
            margin-bottom: 31px;
            &_instrumenten_ {
                margin-bottom: 34px;
            }
            &_marketing {
                margin-bottom: 53px;
                .verdeling__itm-icon {
                    margin-bottom: 18px;
                }
            }
        }
        &__itm-icon {
            margin-bottom: 11px;
        }
        &__itm-title {
            @extend %h3-mobile-title;
        }
        &__content {
            margin-left: 0;
        }
    }

    .overview {
        margin-bottom: 120px;
        &__img {
            height: auto;
        }
        &__about {
            padding: 13px 0 21px 21px;
            justify-content: flex-start;
        }
        &__num {
            display: none;
        }
        &__loans {
            flex-direction: column;
        }
        &__loan-itm {
            width: 100%;
            margin-right: 0;
            &:first-child {
                margin-bottom: 8px;
                img {
                    width: 15px;
                    height: 22px;
                }
            }
            &:last-child {
                .overview__loan-ico {
                    margin-right: 9px;
                }
                img {
                    width: 17px;
                    height: 17px;
                }
            }
        }
        &__loan-ico {
            margin-right: 11px;
        }
        &__wrap {
            &_middle {
                margin-top: 55px;
            }
        }
        &__title {
            @extend %h2-mobile-title;
        }
        &__feedback {
            border-radius: 8px;
            border-width: 4px;
            flex-direction: column;
            padding: 39px 16px 40px;
            &:after {
                display: none;
            }
            &-content {
                margin-top: 29px;
            }
        }
        &__user-img {
            margin-right: 0;
            margin-top: -91px;
        }
        &__wrap {
            &_middle {
                margin-bottom: 164px;
            }
            &-user-img {
                width: 115px;
                height: 115px;
                margin: 0 auto;
            }
        }
        &__user-name {
            margin-top: 10px;
            margin-bottom: 6px;
        }
        &__user-name,
        &__user-ab {
            text-align: center;
        }
    }

    .contact {
        &-sect {
            padding-top: 119px;
            .container {
                max-width: 100%;
                padding: 0;
            }
        }
        &__wrap_right {
            width: 100%;
        }
        &__wrap_left {
            max-width: 100%;
            padding: 0 30px;
            margin: 0 auto;
            margin-bottom: 58px;
        }
        &__title {
            @extend %h2-mobile-title;
        }
        &__link-icon {
            margin-top: 27px;
        }
        &__form {
            padding: 60px 30px;
            height: 577px;
            box-shadow: none;
        }
        &__up {
            right: 50%;
            margin-right: -29.5px;
            bottom: -404px;
        }
    }

    .footer {
        // overflow: hidden;
        position: relative;
        height: 551px;
        &__contact {
            padding-top: 174px;
        }
        &__title {
            @extend %h2-mobile-title;
            margin-bottom: 20px;
        }
        &__item {
            margin-bottom: 15px;
        }
        &__itm-text {
            margin-left: 13px;
        }
        &__dev {
            margin-bottom: 10px;
        }
        &__wrap_bot {
            left: 0;
            width: 100%;
            flex-direction: column;
            bottom: 2px;
        }
    }
}
@media screen and (max-width: 812px) and (min-height: 375px) and (max-height: 420px) {
    .header {
        &-sect {
            height: 130vh;
        }
        &__form {
            display: none;
        }
    }
    .verdeling-sect {
        padding-top: 128px;
    }
}