@include bp(1600px, min) {
    .verdeling {
        &__form {
            &.sticky {
                right: 245px;
            }
        }
    }
}
// @include bp(1530px, min) {
//     .verdeling {
//         &__form {
//             &.sticky {
//                 right: 221px;
//             }
//         }
//     }
// }
// @include bp(1480px, min) {
//     .verdeling {
//         &__form {
//             &.sticky {
//                 right: 195px;
//             }
//         }
//     }
// }
@include bp(1450px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 165px;
            }
        }
    }
}
@include bp(1445px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 165px;
            }
        }
    }
}
@include bp(1435px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 160px;
            }
        }
    }
}
@include bp(1425px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 155px;
            }
        }
    }
}
@include bp(1411px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 150px;
            }
        }
    }
}
@include bp(1406px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 148px;
            }
        }
    }
}
@include bp(1400px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 145px;
            }
        }
    }
}
@include bp(1390px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 140px;
            }
        }
    }
}
@include bp(1380px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 135px;
            }
        }
    }
}
@include bp(1370px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 130px;
            }
        }
    }
}
@include bp(1360px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 125px;
            }
        }
    }
}
@include bp(1350px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 120px;
            }
        }
    }
}
@include bp(1340px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 115px;
            }
        }
    }
}
@include bp(1330px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 110px;
            }
        }
    }
}
@include bp(1320px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 105px;
            }
        }
    }
}
@include bp(1310px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 100px;
            }
        }
    }
}
@include bp(1300px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 95px;
            }
        }
    }
}
@include bp(1200px) {
    .verdeling {
        &__form {
            &.sticky {
                right: 45px;
            }
        }
    }
}
@include bp(1190px) {
    .verdeling {
        &__form {
            display: none;
        }
    }
    .contact {
        &__wrap {
            &_left {
                max-width: 401px;
            }
        }
        &__up {
            bottom: -207px;
        }
    }
}