@include bp(1100px) {
    .header {
        max-width: 587px;
        margin: 0 auto;
        flex-direction: column;
        &__wrap {
            &_right {
                padding-top: 105px;
                margin-bottom: 130px;
            }
        }
        &__title {
            margin-bottom: 25px;
        }
        &__text {
            max-width: 100%;
        }
        &__form {
            width: 100%;
            height: 636px;
            padding: 62px;
        }
    }
    .form {
        &__title {
            margin-bottom: 20px;
        }

        &__wrap {
            &_top {
                margin-bottom: 23px;
            }
        }

        &__label {
            margin-bottom: 7px;
        }

        &__input-wrap {
            height: 42px;

            &_user,
            &_phone {
                width: 216px;
            }
        }

        &__textarea {
            height: 84px;
        }

        &__btn {
            height: 49px;
        }
    }
    .verdeling-sect {
        padding-top: 258px;
    }
    .verdeling {
        &__item {
            max-width: 338px;
            &:last-child {
                margin-top: -22px;
            }
        }
    }
    .overview {
        margin-bottom: 125px;
        &__wrap {
            &_middle {
                margin-bottom: 82px;
            }
        }
        &__img {
            height: 486px;
        }
        &__num {
            margin-top: -5px;
        }
        &__loan-itm {
            margin-right: 20px;
        }
        &__loan-ico {
            margin-right: 13px;
        }
        &__text {
            max-width: 698pxs;
        }
        &__feedback {
            padding-top: 36px;
        }
        &__user-img {
            margin-right: 26px;
        }
    }
    .contact {
        position: relative;
        &-sect {
            padding-top: 123px;
        }
        max-width: 588px;
        margin: 0 auto;
        flex-direction: column;
        &__wrap {
            &_left {
                padding-top: 0;
                max-width: 100%;
                margin-bottom: 58px;
                position: static;
            }
        }
        &__form {
            width: 100%;
            padding: 62px;
        }
        &__up {
            bottom: -358px;
        }
    }
    .footer {
        margin-top: -58px;
        height: 504px;
        &__contact {
            margin: 0 auto;
            padding-top: 234px;
            max-width: 582px;
        }
        &__wrap_bot {
            bottom: 5px;
        }
    }
}